.header {
	padding: 10px;
	margin-left: 100px;
	margin-top: 40px;
	margin-right: 100px;
	margin-bottom: 0px;
	text-align: center;
	height: 260px;
}

.top {
	float: left;
	margin-right: 960px;
	width: 160px;
	height: 148px;
}

.title {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 960px;
	margin-bottom: 0px;
	display: none;
}

.teaser {
	float: left;
	margin: 0px;
	padding:0;
	width: 720px;
	height: 140px;
}

.LS {
	position: absolute;
	top: 200px;
	left: 1005px;
	width: 213px;
	height: 120px;
}

.hi {
	position: relative;
	left: 60px;
	top: 0px;
	font-size: 48px;
	margin: 0px;
}

.login {
	float: right;
}

.search {
	position: relative;
	left: 3px;
	top: 0px;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: #8EE5EE;
	background: #000;
	text-align: left;
	line-height: normal;
	width: 205px;
	height: 24px;
}

.search_icon {
	position: relative;
	left: 90px;
	top: -30px;
	border-width: 1px;
}

.menu {
	float: left;
	font-size: 40px;
	list-style: none;
	padding:0;
	width: 600px;
	height: 80px;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.body {
	position: absolute;
	top: 320px;
	height: 640px;
	margin-left: 110px;
	margin-top: 0px;
	margin-right: 110px;
	margin-bottom: 20px;
}

.content {
	float: left;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 70px;
	margin-bottom: 10px;
	width: 680px;
	height: 300px;
	background:url('img/body/9.png');
}

.content1 {
	float: left;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 70px;
	margin-bottom: 10px;
	width: 840px;
	height: 300px;
	background:url('img/body/9.png');
}

.content2 {
	float: left;
	font-size: 30px;
	margin-top: 10px;
	margin-right: 70px;
	margin-bottom: 10px;
	width: 840px;
	height: 620px;
	background:url('img/body/9.png');
}

.button_time {
	position: relative;
	left: -90px;
	top: 265px;
	width: 120px;
	height: 30px;
}

.button {
	position: relative;
	left: 322px;
	top: 265px;
}

.pullQuote {
	float: right;
	max-width: 300px;
	border-top: thin black solid;
	border-bottom: thick black solid;
	font-size: 30px;
	line-height: 130px;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 100px;
	margin-bottom: 10px;
	/*what's the fucking code*/
}

.side {
	position: absolute;
	left: 760px;
	top: -20px;
	width: 342px;
	height: 700px;
}
.side1 {
	position: relative;
	font-size: 30px;
	width: 160px;
	height: 160px;
	background:url('img/body/10.png');
}

.side2 {
	position: absolute;
	left: 170px;
	top: 20px;
	font-size: 30px;
	width: 160px;
	height: 160px;
	margin: 10px;
	background:url('img/body/11.png');
}

.side3 {
	position: absolute;
	left: -10px;
	top: 200px;
	font-size: 30px;
	width: 160px;
	height: 160px;
	margin: 10px;
	background:url('img/body/12.png');
}

.side4 {
	position: absolute;
	left: 170px;
	top: 200px;
	font-size: 30px;
	width: 160px;
	height: 160px;
	margin: 10px;
	background:url('img/body/13.png');
}

.side5 {
	position: absolute;
	left: 0px;
	top: 390px;
	font-size: 30px;
	font-style: italic;
	width: 342px;
	height: 260px;
	background:url('img/body/12.png');
}

.side51 {
	position: absolute;
	left: 180px;
	top: 390px;
	font-size: 30px;
	font-style: italic;
	width: 160px;
	height: 260px;
	background:url('img/body/12.png');
}

.totop {
	float: right;
}

.footer {
	position: absolute;
	top: 960px;
	left: 117px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	width: 1104px;
	height: 80px;
	/*clear: both;*/
	font-weight: bold;
	text-align: center;
}